/* Style global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Style de l'App */
.App {
  text-align: center;
  padding-top: 60px;
}

/* Barre de navigation */
.navbar {
  background-color: #282c34;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
}

.navbar li:hover,
.navbar li.active {
  background-color: #61dafb;
  color: black;
}

/* Contenu principal */
h1 {
  color: #282c34;
  margin-top: 20px;
  font-size: 24px;
  text-transform: uppercase;
}

/* Graphiques */
.plot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar li {
    margin-bottom: 10px;
  }
}
